version: '3'

services:
  payload:
    image: node:22.17.0-alpine
    ports:
      - '3000:3000'
    volumes:
      - .:/home/node/app
      - node_modules:/home/node/app/node_modules
    working_dir: /home/node/app/
    command: sh -c "yarn install && yarn dev"
    env_file:
      - .env
    environment:
      - NODE_EXTRA_CA_CERTS=/home/node/app/certs/ca-certificate.crt

  postgres:
    image: postgres:15
    restart: unless-stopped
    ports:
      - '5433:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  data:
  node_modules:
  pgdata:

